/************************************

    Interrogazioni Programmate
            by Maicol07

            Stylesheet

 ************************************/
/* Import Header font (Raleway), Logo font (Black Ops One) and icons font (Material icons) */
@import url('https://fonts.googleapis.com/css?family=Raleway:400|Black+Ops+One|Material+Icons');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

.logo-text {
    font-family: 'Black Ops One', cursive !important;
    font-variant: small-caps !important;
    color: #003471;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
