.psw-forgot {
    position: relative;
    color: #000;
    text-decoration: none;
}

.psw-forgot:hover {
    color: #000;
}

.psw-forgot:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: 0;
    left: 87px;
    background-color: #039be5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.psw-forgot:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.register {
    position: relative;
    color: #000;
    text-decoration: none;
}

.register:hover {
    color: #000;
}

.register:before {
    content: "";
    position: absolute;
    width: 33%;
    height: 2px;
    bottom: 0;
    right: 193px;
    background-color: #039be5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.register:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


body {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
   font-family: 'Roboto', sans-serif;
}