##### Headers #####
Header set Cross-Origin-Resource-Policy "cross-origin"

<FilesMatch ".(eot|ttf|otf|woff|woff2)">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>
Header set Service-Worker-Allowed "/"

ErrorDocument 404 https://%{HTTP_HOST}/app/404

Options +FollowSymLinks

##### SSL #####
# This will enable the Rewrite capabilities
RewriteEngine On

# This checks to make sure the connection is not already HTTPS
RewriteCond %{HTTPS} off

# This rule will redirect users from their original location, to the same location but using HTTPS.
# i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

##### REMOVE EXTENSIONS FROM URL #####
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# Hide files from users
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
Order Allow,Deny
Deny from all
</FilesMatch>
