<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Scheduled Exams PHP compatibility tests">
            <directory suffix=".php">./</directory>
            <directory suffix=".php">./app/</directory>
        </testsuite>
    </testsuites>
</phpunit>
