body {
    background-color: #f9f9f9;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navimg, .footer-img {
    display: inline-block;
    height: 100%;
}

.navimg > img, .footer-img > img {
    vertical-align: middle
}

@media only screen and (min-width: 600px) {

    .navimg > span {
        font-size: 2vw !important;
    }

    .footer-logo-text {
        font-size: 1.9vw !important;
    }

}

@media only screen and (max-width: 600px) {
    .navimg > img, .footer-img > img {
        width: 7vw;
        height: 7vw;
    }
}

/*----------------------------------------
    Profile
------------------------------------------*/

#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    margin: 0;
}

#profile-page-header .card-content {
    margin-top: -20px;
}

#content .container .row {
    margin-bottom: 0;
}

.pt-2 {
    padding-top: 2% !important;
}

.medium-small {
    font-size: 0.9rem !important;
}

/*----------------------------------------
    Pre-loader
------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background: url(../img/loading.gif) no-repeat center; /* path to your loading animation */
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/*----------------------------------------
    Sticky Footer
------------------------------------------*/
/*
Note: Last three lines of body rule at the top of the stylesheet are in this section
*/
main {
    flex: 1 0 auto;
}