/*
 ===============================================
    Scheduled Exams Main Cascading StyleSheet
 ===============================================
*/

/*----------------------------------------
    MDC Variables
------------------------------------------*/
:root {
    --mdc-theme-primary: #8000ff;
    --mdc-theme-secondary: #5d009f;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #d33;
    --mdc-theme-on-primary: #fff;
    /*--mdc-theme-on-primary: rgba(60, 64, 67, 0.3);*/
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: #5f6368; /*rgba(0, 0, 0, 0.87);*/
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-activated: #43006d;
    --mdc-theme-outline-border: #dadce0;
    --mdc-theme-outline-border-dark: #95979b
}

/*----------------------------------------
    MDC Buttons
------------------------------------------*/
.mdc-button--outlined:not(:disabled) {
    border-color: var(--mdc-theme-outline-border,
    #dadce0);
}

.mdc-button.mdc-button--outlined .mdc-button__ripple::before, .mdc-button.mdc-button--outlined .mdc-button__ripple::after {
    background-color: var(--mdc-theme-outline-border-dark);
}

/* Fix SweetAlert2 line height change */
.mdc-button i.mdi-outline- *.mdc-button__icon {
    line-height: 1 !important;
}

/*----------------------------------------
    MDC Typography
------------------------------------------*/
.mdc-typography, .mdc-typography--body1, .mdc-typography--body2, .mdc-typography--caption, .mdc-typography--overline {
    font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6, .mdc-typography--headline1, .mdc-typography--headline2, .mdc-typography--headline3,
.mdc-typography--headline4, .mdc-typography--headline5, .mdc-typography--headline6, .mdc-typography--subtitle1,
.mdc-typography--subtitle2, .mdc-typography--button {
    font-family: Montserrat, sans-serif !important;
}

/*----------------------------------------
    MDC Drawer and Top App Bar
------------------------------------------*/
.mdc-drawer .mdc-list-item--activated, .mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-theme-text-activated)
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.mdc-top-app-bar {
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: inset 0 -1px 0 0 #dadce0;
    z-index: 7; /* Drawer below App bar */
    position: absolute;
}

.mdc-top-app-bar * {
    color: var(--mdc-theme-text-primary-on-light, #5f6368) !important;
}

.mdc-top-app-bar__title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.mdc-drawer:not(.mdc-drawer--open) + .mdc-drawer-app-content .mdc-top-app-bar {
    left: 0;
}

#main-content {
    overflow: auto;
    height: 100%;
    padding: 0 18px;
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing):not(.mdc-drawer--modal) + .mdc-drawer-app-content {
    margin-left: 248px;
}

.mdc-drawer.mdc-drawer--open.mdc-drawer--dismissible {
    top: 4em;
}

.mdc-list-item__graphic {
    font-size: 24px;
}

.mdc-menu-classroom-list {
    margin-left: 75px !important;
}

/*----------------------------------------
    MDC Grid
------------------------------------------*/
@media screen and (min-width: 480px) {
    .mdc-layout-grid__inner {
        display: flex !important;
    }
}

@media screen and (min-width: 840px) {
    .mdc-layout-grid__inner {
        margin: calc(var(--mdc-layout-grid-gutter-desktop, 24px) / 2 * -1);
    }
}

/*----------------------------------------
    MDC Cards
------------------------------------------*/
.mdc-card__primary {
    padding: 1rem
}

.mdc-card__secondary {
    padding: 0 1rem 8px;
}

/*----------------------------------------
    MDC FAB
------------------------------------------*/
.mdc-fab--bottom {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

@media (min-width: 1024px) {
    .mdc-fab--bottom {
        bottom: 3rem;
        right: 1.5rem;
    }
}

/*----------------------------------------
    MDC Inputs
------------------------------------------*/
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary)
}

.error-button {
    background-color: var(--mdc-theme-error) !important;
}

.swal2-cancel.mdc-button {
    margin-left: 15px;
}

/*----------------------------------------
    MDC Lists
------------------------------------------*/
.mdc-list-item__graphic img {
    width: 48px;
    height: 48px;
}

/*----------------------------------------
    MDC Selects
------------------------------------------*/
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: var(--mdc-theme-primary)
}

@media only screen and (max-width: 900px) {
    .mdc-drawer:not(.mdc-drawer--open) + .mdc-drawer-scrim + .mdc-drawer-app-content .mdc-top-app-bar {
        left: 0;
    }

    .mdc-drawer.mdc-drawer--open {
        top: 3.5em;
    }

    .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: unset;
        margin-right: unset;
    }
}

/*----------------------------------------
    Image upload
------------------------------------------*/

.mdc-card__media:hover input.upload {
    display: block;
}

.mdc-card__media:hover .hvr-img {
    display: inline-block;
}

.mdc-card__media i {
    margin: auto;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transform: scale(.75);


}

.mdc-card__media:hover i {
    font-size: 16px;
    opacity: 1;
    -webkit-transform: scale(1);
}

.mdc-card__media input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}

.mdc-card__media .hvr-img {
    width: 100%;
    height: 100%;
    display: none;
    /*position:absolute;*/
    vertical-align: middle;
    position: relative;
    background: transparent;
}

.mdc-card__media i:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: height 0.3s;
}

.mdc-card__media:hover i:after {
    height: 100%;
}

/*----------------------------------------
    SweetAlert2
------------------------------------------*/
.swal2-content {
    z-index: 2 !important;
}

.swal2-footer[style="display: flex;"] {
    text-align: center;
    display: initial !important;
}

/*----------------------------------------
    Pre-loader
------------------------------------------*/

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: absolute;
}

.lds-dual-ring div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #1a237e transparent #1a237e transparent;
    -webkit-animation: lds-dual-ring 1.5s linear infinite;
    animation: lds-dual-ring 1.5s linear infinite;
}

.lds-dual-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/*----------------------------------------
    Footer
------------------------------------------*/

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    background-color: var(--mdc-theme-background);
}

footer > div {
    padding-left: 10px;
}

#info_links {
    display: flex;
    padding-top: 10px;
    border-top: var(--mdc-theme-outline-border) solid 1px;
}

#copyright_footer {
    border-top: var(--mdc-theme-outline-border) solid 1px;
    padding-top: 10px;
    display: flex;
}

.footer-title {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    padding-left: 20px;
    color: var(--mdc-theme-text-primary-on-light, #5f6368) !important;
}

.mdc-drawer:not(.mdc-drawer--open) + #footer_hide {
    right: 1em !important;
}

